:root{
    --sizeL: 16px;
    --sizeM: 14px;
    --sizeS: 12px;
    --size: var(var(--sizeL));
    --imgS: 200px; 
    --imgM: 600px;
    --imgL: 900px;
    --imgSize: var(--imgL);
    --font: "Times New Roman", sans-serif;
    font-size: var(--size);
    font-family: var(--font);
    background-color: black;
    color: white;
}

input, button, textarea, select{
    font: inherit;
}

@media screen and(max-height: 800px){
    :root{
        --imgSize:var(--imgS)
    }
    .main_page_div{
        margin-top: 30em;
        text-align: center;
    }
}

@media screen and(max-height: 900px){
    :root{
        --imgSize: var(var(--imgS))
    }
    .main_page_div{
        margin-top: 50em;
        text-align: center;
    }
}

@media screen and(max-height: 1000px){
    .main_page_div{
        margin-top: 60em;
        text-align: center;
    }
}

.main_page_div{
    margin-top: 15em ;
    text-align: center;
}

.main_page_header{
    color: white;
    font-family: 'stencil', var(--font);
}

.main_input_password{
    background-color: black;
    border-color: white;
    border-radius: 0.6em;
    color: white;
}

.enter_button{
    background-color: black;
    border-left-color: white;
    border-right-color:white ;
    border-top-color: black;
    border-bottom: black;
    color: white;
    border-radius: 0.6em;
    border-left: solid;
    border-right:solid;
    padding-left:  5em;
    padding-right: 5em;
    margin-top: 3em;
}

.enter_button:hover{
    background-color: grey;
    border-left-color: white;
    border-right-color:white ;
    border-top-color: white;
    border-bottom: white;
    color: white;
    border-radius: 0.6em;
    border-left: solid;
    border-right: solid;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 3em;
}

.enter_button_div{
    margin-top: 4em;
}

.footer{
    text-align: right;
    color: white;
    background-color: black;
}

.footer_block{
    padding-left: 2em;
    margin-top: 2em;
    border-width: 0.1em ;
    border-color: white;
    background-color: black;
}

/* ------------------------------------INFO PAGE------------------------------- */

.events_heading{
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
}

.events_heading_title{
    font-family: 'Engravers MT', 'Arial Narrow', Arial, sans-serif;
}

.event_block{
    display: flex;
    text-align: center;
    /* padding-left: 15em; */
    /* border: solid; */
    background-color: black;
    margin:2em;
    border-radius:60em;
}

/* .event_block_background{
    background-color: black;
    border-radius:60em;
    margin: 2em;
} */
.button_event{
    background-color: black;
    margin-left: 4em;
}

.event_description{
    padding-left: 15em;
    padding-top: 8em;
    font-family: 'Engravers MT','Times New Roman', sans-serif;
    text-align: center;
    color: white;
}
.img1{
    margin-left: 3em ;
}

.find_out_more_section{
    text-align: center;
    margin-top: 10em;
    margin-left: 6em;
    padding: 5em;
}

.find_out_more_heading{
    font-family: 'Engravers MT', 'Times New Roman', sans-serif;
}

.find_out_more_button{
    background-color: black;
    border-left: solid;
    border-right: solid;
    border-left-color: white;
    border-right-color: white;
    border-radius: 0.6em;
    border-width: 0.1em;
    color: white;
}

.p{
    font-family: 'Times New Roman', sans-serif;
    color: white;
}

.info_heading{
    margin-bottom: 3em;
    color: white;

}

.sign_up_block{
    text-align: right;
    background-color: silver;
}

#unlock_location_input{
    background-color: black;
    color: white;
    border-radius: 0.6em;
    border-style: solid;
}

#unlock_button{
    border-radius: 6em;
    background-color: black;
    border-color: black;
    color: white;
    margin-top: 2em;
}

#unlock_button:hover{
    border-radius: 6em;
    background-color: silver;
    border-color: black;
    color: white;
    margin-top: 2em;
}

.sign_up_button{
    background-color: black;
    color: white;
    border-style: groove;
}
/* ---------------------------------------Shop----------------------------------------- */

.shop_img{

    width: var(--imgSize);
    height: var(--imgSize);
}

